@charset "UTF-8";

.main{
	width: 1100px;
	height: 1200px;
    margin-top: 20px;
    float: right;
}
/* 메인 공지사항 섹션 */
#notice_board{
    width: 540px;
    height: 450px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    float: left;
    cursor: pointer;
}

/* 공지사항 대제목 */
#notice_board .title1{
	text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

/* 공지 박스리스트 */
.notice_list{
    margin-top: 10px;
}
.notice_list > li{
    border-bottom: 1px solid gainsboro;
    padding: 8px 0;
}
.items > span{
    float: right;
    margin-right: 10px;
}

/* 메인 자유게시판 섹션 */
#free_board{
    width: 540px;
    height: 450px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
    border: 1px solid gainsboro;
    border-radius: 10px;
    cursor: pointer;
}

#free_board .freeBoard_title{
	text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.free_list{
    margin-top: 10px;
}
.free_list > li{
    border-bottom: 1px solid gainsboro;
}
.items{
    padding: 10px 0;
}
.items > span{
    float: right;
    margin-right: 10px;
}
/* 시간표 구역 */
#timeTable{
	width: 540px;
	height: 680px;
    padding: 10px;
    margin: 10px 5px 0 5px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    clear: both;
    float: left;
    cursor: pointer;
}
#timeTable > .timeTable_title{
	text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
/* 인기게시글 리스트 */
#hot_board{
	width: 540px;
    height: 680px;
    padding: 10px;
    margin: 10px 5px 0 5px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    float: right;
    cursor: pointer;
}
#hot_board .hotBoard_title{
	text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.items:last-child{
	border:none;
}

/* 메인 시간표(로그인 X) */
.main_timetable_box{
	width: 520px;
	height: 680px;
	/* border: 1px solid red; */
	position: absolute;
	left: 0;
	right: 0;
	bottom: 300px;
	backdrop-filter: blur(1px);
}

.main_timetable_box > h3{
	text-align: center;
	line-height: 680px;
	color: gray;
	user-select: none;
}
.outer{
	position: relative;
	left: 0;
	right: 0;
	bottom: 380px;
	width: 520px;
	height: 680px;
	/* border: 1px solid blue; */
}
#timeTable table{
	width: 520px;
	height: 380px;
	margin: 10px auto 0 auto;
	text-align: center;
	border-collapse: collapse;
	border: 1px solid gainsboro;
}
#timeTable table .period, .timeth{
	width: 70px;
}
#timeTable td{
	height: 50px;
}
.subInfo > div{
	font-size: 3px;
}