@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "돋움";
}
.container{
	height: 100%;
}
.footer{
	height: 230px;
	position: relative;
	transform: translateY(-100%);	
}
.box{
    margin: 0 auto;
    width: 1300px;
    /* border: 1px solid black; */
}

/* 공지 게시판 */
/* 상단 대제목 */
#title_noticeBoard{
	margin-top: 50px;
	padding: 10px 0 10px 50px;
	border: solid 1px black;
	border-radius: 10px;
}
/*  */
.noticeBoard_box{
	height: 900px;
}
/* 공지 목록 박스 */
#noticeList_box{
	margin: 20px 0 30px 0;
	height: 800px;
	border: solid 1px gainsboro;
}
/* 공지 한 박스 */
#notice_info_box{
	height: 110px;
	border: solid 1px gainsboro;
}
/* 공지 제목 */
#notice_info_box h4{
	padding: 10px 0 10px 50px;
	border-bottom: 1px solid gainsboro;
	background-color: gainsboro;
}

/* 공지 내용 */
#notice_info_box > #noticeContent{
	height: 30px;
	line-height: 40px;
	padding-left: 50px;
	border-top: 1px solid gray;
}

/* 공지 작성자 */
#notice_info_box > #writer{
	padding-left: 50px;
	color: gray;
}

/* 작성일 */
#regdate{
	padding-left: 50px;
	color: #7a7a7a;
}

/* 공지 쓰기 버튼 */
.reg_do_btn{
	width: 1300px;
	margin: 0 auto;
	/* border: 1px solid black; */
	height: 30px;
	padding: 0 0 30px 200px;
}
/*  */
#reg_do_btn{
	margin: 10px 0 10px 400px;
}

/* 팝업창 */
.inner{
	display: none;
	position: fixed;
	top: 30%;
	left: 40%;
	text-align: center;
	height: 500px;
	width: 500px;
	border: solid 2px black;
	border-radius: 10px;
	margin:0 auto;
	background-color: #c2c2c2;
	box-shadow: 10px 10px 10px black;
}

/* 박스 한칸 제목 */
.inner > h2{
	margin: 5px 0 5px 0;
}

/* 공지 제목 */
#notice_title{
	width: 400px;
	height: 30px;
	resize: none;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 30px;
	margin-top: 30px;
	margin-bottom: 10px;
}

/* 공지 내용 */
#notice_content{
	width: 400px;
	height: 300px;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 10px;
	border: solid 2px black;
}

/* 공지 등록 버튼 */
#write_notice_btn{
	width: 100px;
	height: 30px;
	cursor: pointer;
	border-radius: 10px;
	background: gainsboro;
	
}
#write_notice_btn:hover{
	background-color:#4d4d4d;
	color: white;
}

/* 닫기버튼 */
#close_btn{
	width: 20px;
	height: 20px;
	border: solid 1px black;
	border-radius: 10px;
	background-color: red;
	cursor: pointer;
}